@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
h1{
    text-align: center;
    color: rgb(1, 103, 131);
    margin: 20px;
    text-decoration: underline;
}
.gallery{
    margin: 10px 40px;
    overflow: hidden;
    transition: 0.3 ease-out;
}
.gallery img{
    width: 260px;
    height: 300px;
    padding: 5px;
    margin: 6px;
    flex-wrap: wrap;
    box-sizing: border-box;
    transition: transform 0.3s ease-in;
}
.gallery img:hover{
    transform: scale(1.1);
}
body{
    background-color: rgb(124, 238, 202);
}